@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    margin: 0;
    padding: 0;
    background-color: #052659;
    font-family: "Saans", Arial, sans-serif;
}
:root {
    --dark-blue: #021024;
    --light-blue: #C1E8FF;
    --background-blue: #052659;
    --secondary-blue: #7DA0CA;
    --buttons-blue: #548383;
}
/* ----------------------------------------------------- */
/* HEADER */
/* ----------------------------------------------------- */
header {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
header h1 {
    color: #C1E8FF;
    position: absolute;
    left: 30px;
}
header .logo {
    height: 80px;
    width: auto;
}
header nav {
    position: absolute;
    right: 30px;
    top: 50px;
    font-weight: bold;
    font-size: 13px;
}
header nav a.buttonLeft {
    text-decoration: none;
    color: #021024;
    background-color: white;
    margin-right: 120px;
    padding-left: 20px;
    padding-right: 60px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 50px;
    transition: background-color 0.5s;
}
header nav a.buttonLeft:hover {
    background-color: rgb(190, 190, 190);
}
header nav a.buttonRight {
    position: absolute;
    right: 30px;
    top: -16px;
    text-decoration: none;
    color: white;
    background-color: #021024;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 50px;
}

/* ----------------------------------------------------- */
/* FOOTER */
/* ----------------------------------------------------- */
footer {
    font-weight: bold;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #C1E8FF;
}
footer a {
    text-decoration: none;
    color: #C1E8FF;
}
footer ul {
    display: flex;
    list-style: none;
}
footer li {
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .copyright {
    padding-top: 20px;
    width: 95%;
    border-top: 1px solid #C1E8FF;
    text-align: center;
    color: #C1E8FF;
}
footer .copyright a {
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .copyright a:hover {
    text-decoration: underline;
}
footer .copyright a img {
    height: 25px;
    width: auto;
    margin-right: 10px;
}
footer ul li img {
    height: 25px;
    width: auto;
    margin-right: 10px;
    margin-left: 20px;
}
footer .icon-github {
    position: absolute;
    align-self: flex-end;
    margin-top: 60px;
    margin-right: 60px;
    border-radius: 50px;
    transition: transform 0.5s;
}
footer .icon-github:hover {
    transform: scale(1.2);
}
footer .icon-github img {
    height: 50px;
    width: auto;
}
.login-body footer, .register-body footer, .dashboard-body footer {
    position: absolute;
    bottom: 0px;
}

/* ----------------------------------------------------- */
/* INDEX.PHP */
/* ----------------------------------------------------- */
.index-body .main-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.index-body .main-text {
    color: #C1E8FF;
    font-size: 130px;
    text-align: center;
    line-height: 150px;
}
.index-body .buttonBottom {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    text-decoration: none;
    color: #C1E8FF;
    border: 1px solid #C1E8FF;
    border-radius: 10px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
    transition: background-color 0.5s;
}
.index-body .buttonBottom:hover {
    background-color: #C1E8FF;
    color: #052659;
}

/* ----------------------------------------------------- */
/* LOGIN.PHP */
/* ----------------------------------------------------- */
.login-body .main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-body h1 {
    margin: 0;
    position: absolute;
    left: 80px;
    top: 55px;
    color: #C1E8FF;
}
.login-body .main-content form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    margin-top: 50px;
}
.login-body .main-content form label {
    color: #C1E8FF;
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
}
.login-body .main-content form input.field {
    color: white;
    font-weight: bold;
    height: 35px;
    width: 450px;
    background-color: #053377;
    border: 1px solid #07429b;
    border-radius: 50px;
    margin-bottom: 30px;
    transition: background-color 0.5s;
    padding-left: 20px;
}
.login-body .main-content form input.field:hover {
    background-color: #07429b;
}
.login-body .main-content form input.field:focus {
    outline: none;
    border: 1px solid #C1E8FF;
}
.login-body .main-content form input[type="submit"] {
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: #021024;
    color: white;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.5s, box-shadow 0.5s;
}
.login-body .main-content form input[type="submit"]:hover {
    background-color: #010914;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* ----------------------------------------------------- */
/* ERRORES */
/* ----------------------------------------------------- */
.body-error .title {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 130px;
    color: #C1E8FF;
    width: 100%;
    text-align: center;
}
.body-error .number {
    margin: 0;
    font-weight: bold;
    font-size: 280px;
    color: transparent;
    width: 100%;
    text-align: center;
    -webkit-text-stroke: 5px #C1E8FF;
}

/* ----------------------------------------------------- */
/* DASHBOARD.PHP */
/* ----------------------------------------------------- */
.dashboard-body .title {
    font-size: 130px;
    color: #C1E8FF;
    text-align: center;
}
.dashboard-body .dashboard-nav {
    display: flex;
    justify-content: space-around;
    font-weight: bold;
}
.dashboard-body .dashboard-nav a {
    text-decoration: none;
    color: white;
    background-color: #010914;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 50px;
}
.dashboard-body .dashboard-nav a:hover {
    border: 1px solid #C1E8FF;
}

/* ----------------------------------------------------- */
/* REGISTER.PHP */
/* ----------------------------------------------------- */
.register-body h1 {
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    color: var(--light-blue);
    margin: 0;
    position: absolute;
    left: 80px;
    top: 55px;
}
.register-body main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.register-body form {
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    margin-top: 50px;
}
.register-body div.input-container {
    height: 50px;
    width: 600px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    background: linear-gradient(to right, white, var(--light-blue));
    transition: border 5s ease, background-color 5s ease;
}

.register-body div.input-container.invalid {
    border: 2px solid red;
    animation: shake 0.5s;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.register-body div.input-container.invalid > .field {
    color: red;
}

.register-body div.input-container.invalid > button.continue-button {
    background-color: red;
    color: #FFF;
}

.register-body button.continue-button {
    width: fit-content;
    height: 100%;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: transparent;
    color: #021024;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.register-body button.continue-button:hover, .register-body button.continue-button:focus {
    background-color: #021024;
    color: #C1E8FF;
    transition: background-color 0.5s ease, color 0.5s ease;
    outline: none;
}

.register-body .field {
    height: 100%;
    flex-grow: 1;
    padding: 0;
    padding-left: 20px;
    border: none;
    border-radius: 50px;
    background-color: transparent;
    color: var(--dark-blue);
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.register-body .field:focus, .register-body .field:focus {
    outline: none;
}

.register-body input[type="number"]::-webkit-inner-spin-button, .register-body input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.register-body input[type="number"] { -moz-appearance: textfield; }

.register-body input[type="submit"] {
    width: 600px;
    height: 50px;
    outline: none;
    background-color: var(--dark-blue);
    color: var(--light-blue);
    font-family: "Popins", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    border: 1px solid var(--light-blue);
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease;
}

.register-body input[type="submit"]:hover {
    background-color: var(--light-blue);
    color: var(--dark-blue);
    border: none;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.register-body button:disabled { cursor: not-allowed; }

.register-body button:disabled:hover {
    background-color: var(--dark-blue);
    color: var(--light-blue);
    border: 1px solid var(--light-blue);
    transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease;
}
.register-body select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('flecha.png') no-repeat right center;
    padding-right: 15px;
}

/* ----------------------------------------------------- */
/* NOTIFICACIONS */
/* ----------------------------------------------------- */
#notification-container {
    margin: 0;
    margin-right: 10px;
    padding: 0;
    position: fixed;
    bottom: 155px;
    right: 0;
    width: 300px;
    z-index: 100;
    max-height: 418px;
    overflow-y: auto;
}

#notification-container::-webkit-scrollbar { width: 10px; }
#notification-container::-webkit-scrollbar-track { background: transparent; }

#notification-container::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    border: 2px solid transparent;
    background-clip: content-box;
}

#notification-container::-webkit-scrollbar-thumb:hover { background-color: rgba(0, 0, 0, 0.5); }

 #notification-container .notification {
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    color: white;
    opacity: 0.9;
    position: relative;
    list-style-type: none;
}

#notification-container .notification .close-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

#notification-container .notification.info { background-color: #2196F3; }
#notification-container .notification.success { background-color: #4CAF50; }
#notification-container .notification.warning { background-color: #ff9800; }
#notification-container .notification.error { background-color: #f44336; }

/* ----------------------------------------------------- */
/* CREATE_POLL.PHP */
/* ----------------------------------------------------- */
.createPoll-body h1 {
    margin: 0;
    position: absolute;
    left: 80px;
    top: 55px;
    color: #C1E8FF;
}

.createPoll-body .main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.createPoll-body .main-content form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-top: 50px;
}

.createPoll-body .main-content form label {
    color: #C1E8FF;
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.createPoll-body .main-content form input.field{
    font-weight: bold;
    height: 50px;
    width: 450px;
    background-color: #053377;
    border: 1px solid #07429b;
    border-radius: 50px;
    margin-bottom: 30px;
    transition: background-color 0.5s;
    padding-left: 20px;
}

.createPoll-body .main-content form textarea {
    font-weight: bold;
    width: 450px;
    height: auto;
    background-color: #053377;
    border: 1px solid #07429b;
    border-radius: 50px;
    margin-bottom: 30px;
    transition: background-color 0.5s;
    padding-left: 20px;
}

.createPoll-body .main-content form textarea::placeholder {
    color: white;
    padding-top: 20px;
}

.createPoll-body .main-content form input.field::placeholder { color: #fff; }

.createPoll-body .main-content form input[type="date"]::-webkit-datetime-edit-text,
.createPoll-body .main-content form input[type="date"]::-webkit-datetime-edit-year-field,
.createPoll-body .main-content form input[type="date"]::-webkit-datetime-edit-month-field,
.createPoll-body .main-content form input[type="date"]::-webkit-datetime-edit-day-field {
    color: white; 
}

.createPoll-body .main-content .question,
.createPoll-body .moreAnswer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.createPoll-body .main-content .question button {
    background-color: transparent;
    width: fit-content;
    margin: 20px auto 10px auto;
    text-decoration: none;
    color: #C1E8FF;
    border: 1px solid #C1E8FF;
    border-radius: 10px;
    padding: 15px 40px;
    font-size: 20px;
    transition: background-color 0.5s;
}

.createPoll-body .main-content .question button:hover{
    background-color: #C1E8FF;
    color: #052659;
}

.createPoll-body .main-content .deleteAnswer:disabled {
    opacity: 0.5; 
    cursor: not-allowed;
}


.createPoll-body .main-content .deleteAnswer:disabled:hover {
    background-color: #eee;
    color: #888; 
}

.createPoll-body .main-content #addQuestion{
    background-color: transparent;
    width: 100%;
    margin: 20px auto 10px auto;
    text-decoration: none;
    color: #C1E8FF;
    border: 1px solid #C1E8FF;
    border-radius: 10px;
    padding: 15px 40px;
    font-size: 20px;
    transition: background-color 0.5s;
}

.createPoll-body .main-content button.deleteQuestion {
    background-color: transparent;
    width: 100%;
    margin: 20px auto 10px auto;
    text-decoration: none;
    color: #C1E8FF;
    border: 1px solid #C1E8FF;
    border-radius: 10px;
    padding: 15px 40px;
    font-size: 20px;
    transition: background-color 0.5s;
}

.createPoll-body .main-content #addQuestion:hover {
    background-color: #C1E8FF;
    color: #052659;
}

.createPoll-body .main-content .buttonAddQuestion {
    display: flex;
    justify-content: flex-start;
}

.createPoll-body .main-content #send {
    background-color: black;
    width: fit-content;
    margin: 20px auto 10px auto;
    text-decoration: none;
    color: #fff;
    border: 1px solid #C1E8FF;
    border-radius: 50px;
    padding: 15px 40px;
    font-size: 20px;
    transition: background-color 0.5s;
}

.createPoll-body .main-content #send:hover {
    background-color: white;
    color: black;
}

/* LIST_POLLS.PHP */
.listPolls-body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.listPolls-body .main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px 0 100px 0;

}

.listPolls-body .main-content table {
    border-collapse: collapse;
    width: 50%;
    margin-bottom: 20px;
}

.listPolls-body .main-content th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.listPolls-body .main-content th.name-column {
    width: 50%;
}

.listPolls-body .main-content th {
    background-color: #f2f2f2;
}

.listPolls-body .main-content a {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    text-decoration: none;
    color: #C1E8FF;
    border: 1px solid #C1E8FF;
    border-radius: 10px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
    transition: background-color 0.5s;
}

.listPolls-body .main-content a:hover {
    background-color: #C1E8FF;
    color: #052659;
}
/* ----------------------------------------------------- */
/* CHECK_YOUR_EMAIL.PHP & email_validation_ok.php templates */
/* ----------------------------------------------------- */
.body-email-validation .title {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 130px;
    color: #C1E8FF;
    width: 100%;
    text-align: center;
}

.body-email-validation .autocenter {
    display: flex;
    justify-content: center;
}

.body-email-validation .estandard-link {
    text-decoration: none;
    color: white;
    background-color: #010914;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 50px;
}

.body-email-validation .estandard-link:hover {
    border: 1px solid #C1E8FF;
}

/* --------------------------------------------------------
TERMS_OF_USE.PHP
---------------------------------------------------------- */
.terms-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
.terms-container .pop-up {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    background: #052659;
    padding: 20px;
    border: 3px solid #C1E8FF;
    border-radius: 5px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}